{% extends 'app/newbase.html' %}

{% block title %}Register{% endblock title %}


{% block main-content %} 

<div class="container mt-5">

    <form action="" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}


        {% for f in fm %}
           {{f.label_tag}}  {{f}} {{f.errors|striptags}}  <br> <br>
        {% endfor %}

            <input type="submit" value="Submit">
    </form>

</div>

<br>
    
{% endblock main-content %}
